html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.save-note {
  display: none;
}

.fas {
  color: deepskyblue !important;
}
.icons i {
  margin-left: 15px;
  margin-right: 15px;
  font-size: 1.5rem;
  cursor: pointer;
  color:white !important;
 
}


.note-textarea, .note-title {
  color: #000000;
  width: 100%;
  outline: none;
  border: none;
}

.note-textarea {
  resize: none;
  height: calc(100% - 63px);
  padding-top: 15px;
  background-color: rgb(245, 238, 238);
}

.note-textarea:hover, .note-title:hover{
  opacity: 0.5;
   
}

.note-title {
  height: 50px;
  margin-top: 13px;
  font-size: 3rem;
  
}

.note-title:read-only, .note-textarea:read-only {
  color: #757575;
}

.list-container .card {
  height: calc(100vh - 70px);
  border-bottom: none;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  
}

.list-container {
  padding-left: 0;
  
}


.list-container .list-group,
.list-container .list-group-item:first-child,
.list-container .card {
  border-top: none;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  color: darkgrey; 
}



.list-container i {
  font-size: 1.1rem;
  cursor: pointer;
  }

.list-container .list-group-item {
  border-left: none;
  border-right: none;
  padding: 20px;
  cursor: pointer;
  }

  .list-group-item:hover {
    background-color: lightgrey;
  }

 span {
  color: black !important;
}

